@import url(./base/register.css);
@import url(./base/login.css);
@import url(./base/home.css);
@import url(./base/post.css);



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}