/* ---------- Laptop 1440 x 900 ---------- */
@media(min-width:414px){
  body{
    background-image: url(./img/backgroundPC1.png);
  }

  #s-container{
    width: 30vw;
  }

  #img-rabbit{
    display: none;
  }

  #logo{
    margin-top: 2%;
    width: 25vw;
  }

h2{
      font-size: 3.5rem;
  }

  .input-register{
    width: 70%;
    font-size: 2rem;
  }

  .btn-p, .btn-s{
    width: 12vw;
    font-size: 2rem;
    padding: 1% 0%;
    border-radius: 25px;
  }
}

/* ---------- PC 1920 x 1080 ---------- */

@media(min-width:1600px){
  #s-container{
    margin: 40% 0%;
  }

  h2{
      font-size: 4.5rem;
  }

  .btn-p{
    font-size: 2.5rem;
  }
}
