/* Limpiar estilos predeterminados e ingresar estilos globales */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.app{
    width: 100%;
    margin: auto;
    /*Flex*/
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}


/* div que contiene los estilos de bienvenida */
.welcomeContainer{
    
    background-color: aquamarine;
    /*Flex*/
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 30px;

}

h1{
    background-color: rgb(147, 25, 204); 
}

.logo{
    background-color: rgb(27, 218, 154);
}

h2{
    background-color: rgb(221, 33, 190);

}

h3{
    background-color: rgb(12, 126, 21);
}

/*div que contiene los estilos del formulario*/
.formContainer{
    background-color: beige;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}