@media (max-width: 768px) {
    .old-man {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .young-guy{
        display: block;
        margin: 0;
    }
    .logo-long img {
        width: 250px;
        
      }

      .log-in{
        
        margin: 2% 2% 2% 2%;
        padding-top: 10px;

    }
}