
  
body {
 width: 100%;
 overflow-x: hidden;
 height: auto;
 position: relative;
}

.header {
 width: 100%;
 background-color: #032C3D;
 padding: 12px 0px 9px 0px;
 margin-bottom: 5px;
}

.menu {
 display: flex;
 flex-direction:column;
 justify-content: space-between;
 width: auto;
 height: 70px;
}
  
.logo {
 color: #ffffff;
 cursor: pointer;
 font-family: 'Lancelot', cursive;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-shadow: #20dad8 2px 2px 4px;
}
  
.logo a {
 font-family: 'Aclonica', sans-serif;
 color:#7BBDC3;
 text-decoration:none;
 font-size: 60px;
 align-content:flex-start;
}
  
  
.nav {
 width: 100%;
 color: #ffffff;
 font-size: 17px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: flex-end;
 height: 61px;
 padding-right: 10px;
 border-bottom: 1px solid #7BBDC3; /*solo para el nav en caso de de la historia del home por ejemplo */
}

.nav li {
 padding: 20px 10px 20px 10px;
 border-top: #ffffff;
 border-bottom: #ffffff;
 border-width: 1px;
 width: 100%;
 border-top-style: solid;
 font-size: 15px;
}
  
.nav a {
 display: block;
 color: #ffffff;
 text-decoration: none;
 font-weight: 400;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 display: flex;
 letter-spacing: 0.8px;
}
  
  
.nav > div {
 position: relative;
 display: inline-block;
 display: flex;
}
  
.nav  div a {
 color: #ffffff;
 transition: all .3s;
 display: block;
 color: #ffffff;
 text-decoration: none;
 position: relative;
 display: inline-block;
}


.loginSection {
 display: flex;
 flex-flow: column;
 justify-content: space-around;
 align-items: center;
 padding: 72px 0px;
 height: 713px;
}

.logo-a {
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 margin-left: 136px;
}

.loginForm {
 width: 359px;
 height: 494px;
 background: #F54653;
 color: #ffffff;
 /*position: absolute
 transform: translate(-50%, -50%);*/
 box-sizing: border-box;
 border-radius: 10px;
 padding: 70px 30px;
 position: relative;
}

.buttonLogOut {
   border:none;
   background: transparent;
}

.loginForm .logo {
 width: 100px;
 height: 100px;
 position: absolute;
 top: -50px;
 left: 134px
}

.loginForm h1 {
 margin: 0;
 padding: 0;
 padding-bottom: 50px;
 font-size: 44px;
 display: block;
 text-align: center;
}


.loginForm input {
 width: 100%;
 margin-bottom: 25px;
 border: none;
 background: #F7F8F4;
 outline: none;
 height: 47px;
 color: #032C3D;
 font-size: 25px;
 font-weight: 400;
 border-radius: 14px;
 text-align: center;
}

input[type= submit] {
 background: #032C3D;
 color: #ffffff;
 font-size: 36px;
 border-radius: 14px;
 text-align: center;
 height: 58px;
}

.recordarYregistrar a {
 text-decoration: none;
 font-size: 14px;
 line-height: 20px;
 color: #032C3D;

}

.footer {
 background-color: #032C3D;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 100%;
 padding: 16px 0px 16px 0px;
 position:inherit;
 bottom: 0;
 margin-top: 10px;
}


.footer a {

 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 100%;
 color: #7BBDC3;
 text-decoration: none;
 font-size: 12px;
 flex-wrap: nowrap;
 align-content: space-around;
 padding: 11px;
}

.secciones {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 100%
}
  
/*.social {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 width: 40%;
}
  
.icon {
 padding: 0px;
 margin: 0px;
}
  
i {
 color: #ffffff;
}
  
.background-top-row {
 backdrop-filter:blur(.4rem);
}*/

/*home*/

.inputHomeOne {
    background: #F7F8F4;
    color: #ffffff;
    font-size: 17px;
    border-radius: 23px;
    text-align: center;
    height: 42px;
    border: 2px solid #7BBDC3;
    width: 139%;
}

.muroHome {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 83px;
    padding-right: 88px;
    border-bottom: 4px solid #7BBDC3;
}

.publicacionesHome {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 width: 100%;

}

.postMuroOne {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #7BBDC3;
  padding: 10px;
  font-size: 17px;
  color: #032C3D;
 font-weight: 500;
}

.postMuroTwo {

 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px;
 border-bottom: 2px solid #7BBDC3;

}

.takePart {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 flex-wrap: nowrap;
 text-decoration: none;
 padding: 19px;
 font-size: 14px;
 border-bottom: 2px solid #7BBDC3;
}

.takePart a {
 text-decoration: none;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 flex-wrap: nowrap;
}
