body {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    position: relative;
}
   
.header {
    width: 100%;
    background-color: #032C3D;
    padding: 12px 0px 9px 0px;
    margin-bottom: 5px;
}

     
.logo {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Lancelot', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: #20dad8 2px 2px 4px;
}
     

   
.loginSection {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 72px 0px;
    height: 713px;
}
   
.logo-a {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 136px;
}
   
.loginForm {
    width: 359px;
    height: 494px;
    background: #F54653;
    color: #ffffff;
    /*position: absolute
    transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
    position: relative;
}
     
.loginForm .logo {
    width: 124px;
    height: 124px;
    position: absolute;
    top: -58px;
    left: 122px;
}
   
.loginForm h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    font-size: 44px;
    display: block;
    text-align: center;
}
   
 .loginForm input {
    width: 100%;
    border: 1px solid #7bbdc3;
    box-sizing: border-box;
    background: #F7F8F4;
    outline: none;
    height: 47px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 14px;
    text-align: center;
}

input[type=text] {
    background: #F7F8F4;
    color: #ffffff;
    font-size: 17px;
    border-radius: 23px;
    text-align: center;
    height: 42px;
    border: 2px solid #7BBDC3;
    width: 101%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
}

input[type= password] {
    background: #F7F8F4;
    color: #ffffff;
    font-size: 17px;
    border-radius: 23px;
    text-align: center;
    height: 42px;
    border: 2px solid #7BBDC3;
    width: 101%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
}*/

   
button {
    width: 292px;
    height: 50px;
    background: #032c3d;
    opacity: 0.93;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
}

   
.recordarYregistrar a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #032C3D;
}
   
.footer {
    background-color: #032C3D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 16px 0px 16px 0px;
    position: fixed;
    bottom: 0;
}